@font-face {
  font-family: "Liturgica-Medium";
  src: url("fonts/Liturgica-Medium.eot");
  src: url("fonts/Liturgica-Medium.eot?#iefix") format("embedded-opentype"),
       url("fonts/Liturgica-Medium.woff") format("woff"),
       url("fonts/Liturgica-Medium.ttf") format("truetype"),
       url("fonts/Liturgica-Medium.svg#Liturgica-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Liturgica-Medium";
    src: url("fonts/Liturgica-Medium.svg#Liturgica-Medium") format("svg");
  }
}

[class^="Liturgica-Medium-"]:before, [class*=" Liturgica-Medium-"]:before,
[class^="Liturgica-Medium-"]:after, [class*=" Liturgica-Medium-"]:after {   
  font-family: Liturgica-Medium;
  font-style: normal;
}

.Liturgica-Medium-0041:before { content: "\0041"; }
.Liturgica-Medium-0042:before { content: "\0042"; }
.Liturgica-Medium-0043:before { content: "\0043"; }
.Liturgica-Medium-0044:before { content: "\0044"; }
.Liturgica-Medium-0045:before { content: "\0045"; }
.Liturgica-Medium-0046:before { content: "\0046"; }
.Liturgica-Medium-0047:before { content: "\0047"; }
.Liturgica-Medium-0048:before { content: "\0048"; }
.Liturgica-Medium-0049:before { content: "\0049"; }
.Liturgica-Medium-004A:before { content: "\004A"; }
.Liturgica-Medium-004B:before { content: "\004B"; }
.Liturgica-Medium-004C:before { content: "\004C"; }
.Liturgica-Medium-004D:before { content: "\004D"; }
.Liturgica-Medium-004E:before { content: "\004E"; }
.Liturgica-Medium-004F:before { content: "\004F"; }
.Liturgica-Medium-0050:before { content: "\0050"; }
.Liturgica-Medium-0051:before { content: "\0051"; }
.Liturgica-Medium-0052:before { content: "\0052"; }
.Liturgica-Medium-0053:before { content: "\0053"; }
.Liturgica-Medium-0054:before { content: "\0054"; }
.Liturgica-Medium-0055:before { content: "\0055"; }
.Liturgica-Medium-0056:before { content: "\0056"; }
.Liturgica-Medium-0057:before { content: "\0057"; }
.Liturgica-Medium-0058:before { content: "\0058"; }
.Liturgica-Medium-0059:before { content: "\0059"; }
.Liturgica-Medium-005A:before { content: "\005A"; }
.Liturgica-Medium-005B:before { content: "\005B"; }
.Liturgica-Medium-005C:before { content: "\005C"; }
.Liturgica-Medium-005D:before { content: "\005D"; }
.Liturgica-Medium-005E:before { content: "\005E"; }
.Liturgica-Medium-005F:before { content: "\005F"; }
.Liturgica-Medium-0060:before { content: "\0060"; }
.Liturgica-Medium-0061:before { content: "\0061"; }
.Liturgica-Medium-0062:before { content: "\0062"; }
.Liturgica-Medium-0063:before { content: "\0063"; }
.Liturgica-Medium-0064:before { content: "\0064"; }
.Liturgica-Medium-0065:before { content: "\0065"; }
.Liturgica-Medium-0066:before { content: "\0066"; }
.Liturgica-Medium-0067:before { content: "\0067"; }
.Liturgica-Medium-0068:before { content: "\0068"; }
.Liturgica-Medium-0069:before { content: "\0069"; }
.Liturgica-Medium-006A:before { content: "\006A"; }
.Liturgica-Medium-006B:before { content: "\006B"; }
.Liturgica-Medium-006C:before { content: "\006C"; }
.Liturgica-Medium-006D:before { content: "\006D"; }
.Liturgica-Medium-006E:before { content: "\006E"; }
.Liturgica-Medium-006F:before { content: "\006F"; }
.Liturgica-Medium-0070:before { content: "\0070"; }
.Liturgica-Medium-0071:before { content: "\0071"; }
.Liturgica-Medium-0072:before { content: "\0072"; }
.Liturgica-Medium-0073:before { content: "\0073"; }
.Liturgica-Medium-0074:before { content: "\0074"; }
.Liturgica-Medium-0075:before { content: "\0075"; }
.Liturgica-Medium-0076:before { content: "\0076"; }
.Liturgica-Medium-0077:before { content: "\0077"; }
.Liturgica-Medium-0078:before { content: "\0078"; }
.Liturgica-Medium-0079:before { content: "\0079"; }
.Liturgica-Medium-007A:before { content: "\007A"; }
.Liturgica-Medium-007B:before { content: "\007B"; }
.Liturgica-Medium-007C:before { content: "\007C"; }
.Liturgica-Medium-007D:before { content: "\007D"; }
.Liturgica-Medium-007E:before { content: "\007E"; }
